@import "../node_modules/susy/sass/susy";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900); // |Roboto+Condensed:300
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/**
 * Components
 */
@import "components/globals";
@import "components/app";
@import "components/header";
@import "components/sidebar";
@import "components/helpbar";
@import "components/panel";
@import "components/forms";
@import "flags/flag-icon";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid
);
